.invoices-wrapper {
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #1e2139;
	box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
	border-radius: 8px;
	width: 327px;
	height: 134px;
	margin-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;

	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 24px;

		.id-holder {
			display: flex;
			align-items: center;
			span {
				color: #7e88c3;
			}

			h2 {
				color: #ffffff;
			}

			span,
			h2 {
				font-weight: 700;
				font-size: 12px;
				line-height: 15px;
				letter-spacing: -0.25px;
			}
		}

		h3 {
			color: #ffffff;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;
			letter-spacing: -0.25px;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;

		.bottom-left {
			p {
				color: #ffffff;
				font-weight: 500;
				font-size: 12px;
				line-height: 15px;
				letter-spacing: -0.25px;
				margin-bottom: 8px;
			}

			h2 {
				color: #ffffff;
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: -0.8px;
			}
		}
	}
}
