$whiteColor: #ffffff;

.invoices-filter {
	color: $whiteColor;
	cursor: pointer;

	.invoices-filter-control {
		display: flex;
		align-items: center;
		justify-content: center;

		label {
			font-weight: 700;
			font-style: normal;
			font-size: 12px;
			line-height: 15px;
			letter-spacing: -0.25px;
			margin-right: 12px;
			cursor: pointer;

			span {
				display: none;
				@media only screen and (min-width: 600px) {
					display: contents;
				}
			}
		}

		select {
			background: transparent;
			width: 20px;
			border: none;
			padding: 0;
			cursor: pointer;
		}
	}
}
